<main>
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="hero-heading">
        Plateforme de gestion de l'effectivité des enseignements
      </h1>
      <p class="section-text">
        Que vous soyez enseignant ou étudiant, notre plateforme vous propose une solution intégrale pour optimiser la gestion de vos cours et garantir leur efficacité
      </p>
      <!-- <a routerLink="/connexion" class="section-button">Découvrir</a> -->
    </div>
    <img src="assets/images/gestion1.png" alt="Image de la plateforme" class="section-image" />
  </section>

  <!-- Ajout des blocs carrés -->
  <div class="bloc-carré-container">
    <section class="bloc-carré">
      <a routerLink="/connexion">


<h2>Visualiser vos cours</h2>
<p>Découvrez votre emploi du temps personnalisé pour suivre vos cours et planifier vos activités académiques. Consultez les détails de chaque cours. Gardez un œil sur les mises à jour et les changements pour rester bien informé tout au long de votre semestre.</p>
      </a>
    </section>

    <section class="bloc-carré">
      <a routerLink="/connexion">
        <h2>Donnez votre avis par rapport aux cours</h2>
        <p>Votre avis est précieux pour nous aider à améliorer la qualité de nos cours.
          Partagez vos impressions, suggestions et commentaires pour contribuer à un environnement d'apprentissage optimal.</p>
      </a>
    </section>

    <section class="bloc-carré">
      <a href="/connexion">
      <h2>Recueillir vos informations personnelles</h2>
      <p>  Vos informations personnelles nous aident à personnaliser votre expérience d'apprentissage et à vous fournir des services adaptés à vos besoins académiques. Nous garantissons la confidentialité et la sécurité de vos données conformément aux normes de protection des données en vigueur.</p>
      </a>
    </section>
    <section class="bloc-carré">
      <a href="/connexion">
      <h2>Consultez les cours dont vous avez la charge</h2>
      <p> Accédez facilement à la liste des cours que vous avez en charge en tant qu'enseignant.Cette vue dédiée vous offre une vision claire de vos responsabilités académiques, facilitant ainsi votre travail au quotidien</p>
      </a>
    </section>
  </div>
</main>
