<main>
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="hero-heading">
        Plateforme de gestion de l'effectivité des enseignements
      </h1>
      <p class="section-text">
        Notre plateforme offre une solution complète pour la gestion de l'effectivité des enseignements.
      </p>
      <a routerLink="/connexion" class="section-button">Découvrir</a>
    </div>
    <img src="assets/images/gestion1.png" alt="Image de la plateforme" class="section-image" />
  </section>

  <!-- Ajout des blocs carrés -->
  <div class="bloc-carré-container">
    <section class="bloc-carré">
      <a routerLink="/connexion">
        <h2>Consultez votre emploi du temps</h2>
        <p>L'emploi du temps est un outil essentiel pour organiser votre semaine académique.
          Consultez-le régulièrement pour ne pas manquer vos cours et vos activités.
        </p>
      </a>
    </section>

    <section class="bloc-carré">
      <a routerLink="/connexion">
        <h2>Donnez votre avis par rapport aux cours</h2>
        <p>Votre avis est précieux pour nous aider à améliorer la qualité de nos cours.
          Partagez vos impressions, suggestions et commentaires pour contribuer à un environnement d'apprentissage optimal.</p>
      </a>
    </section>

    <section class="bloc-carré">
      <a href="page3.html">
        <h2>Bloc Carré 3</h2>
        <p>Contenu du bloc carré 3...</p>
      </a>
    </section>
  </div>
</main>
